.App {}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.triangle-container {
  padding-top: 5vw;
}

.triangle-container .triangle-container-header {
  width: 80%;
  margin: auto;
}

.triangle-container .triangle-container-input-file {
  display: none;
}

.triangle-container .triangle-container-file-button {
  background-color: rgb(52, 123, 255);
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.triangle-container .triangle-container-body {
  margin-top: 3vw;
}

.triangle-container .triangle-container-body .triangle-container-body-triangle-row {
  /* text-align: center; */
  /* width: 100vw; */
}

.triangle-container .triangle-container-body .triangle-container-body-triangle-row span {
  margin-right: 10px;
  display: inline-block;
}

.triangle-container .triangle-container-body .triangle-container-body-equation span {
  margin-right: 10px;
  display: inline-block;
}

.text-red {
  color: red;
}

.scale-animation {
  animation-name: scale-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scale-anim {
  0% {
    transform: scale(1.1, 1.1);
    border: red solid 1px;

  }

  50% {
    transform: scale(1, 1);
    border: red solid 1px;

  }

  100% {
    transform: scale(1.1, 1.1);
    border: red solid 1px;

  }
}